html {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
}

h2, h3, h4, h5 {
  font-size: 1rem;
}

.quest-bold {
  font-weight: bold;
}

.tabatha-italic {
  font-style: italic;
}

.btn {
  text-decoration: none;
}

.dinosaur-bold {
  font-weight: bold;
}

.dinosaur-italic {
  font-style: italic;
}

.dragon-italic {
  font-style: italic;
}

.speed-bold {
  font-weight: bold;
}

.speed-italic {
  font-style: italic;
}

.dinosaur-card {
  background-color: #ccc;
  width: 25%;
  padding: 0;
  margin: 0;
  float: left;
  padding-bottom: 0.55rem;
  border-style: solid;
  border-color: #333;
  border-width: 0 0 0 0.75px;
}

.quest-card {
  background-color: #e2e2e2;
  width: 25%;
  display: block;
  float: left;
  padding-bottom: 2rem;
  border-style: solid;
  border-color: #333;
  border-width: 0 0 0 0.75px;
}

.dragon-card {
  background-color: #aaa;
  width: 25%;
  float: left;
  padding-bottom: 1.2rem;
  border-style: solid;
  border-color: #333;
  border-width: 0 0 0 0.75px;
}

.speed-card {
  background-color: #999;
  width: 25%;
  float: left;
  padding-bottom: 0.10rem;
  border-style: solid;
  border-color: #333;
  border-width: 0 0 0 0.75px;
}

.btn {
  background-color: #333;
  color: #fff;
  border-radius: 0.30rem;
  padding: 0.55rem;
  float: left;
}

.btn-small {
  background-color: #333;
}

.btn:hover {
  background-color: #f2f2f2;
}

img {
  width: 25%;
  display: block;
  margin: 7em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
